#nav {
    background-color: #333;
    color: white;
    padding: 14px 0;
    position: fixed;
    top: -68px; /* Initially hide the navbar above the viewport */
    left: 0;
    width: 100%;
    transition: top 1.5s; /* Add smooth transition effect */
    z-index: 1; /* Ensure the navbar is above other content */
}

#nav:hover, #nav:active {
    top: 0; /* Show the navbar when hovered */
}

#lo-si {
    position: fixed;
    right: 0px;
    display: inline-block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    margin-right: 10px; /* Add margin between each link */
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 20px; /* Adjust padding for spacing within the link */
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.selected {
    background-color: #555; /* Change background color of selected item */
}

.submenu {
    display: none; /* Hide submenu by default */
    position: absolute;
    background-color: #333;
    min-width: 120px;
    z-index: 1;
}

.submenu li {
    float: none;
}

.submenu li a {
    padding: 10px;
    text-align: left;
}

.submenu li a:hover {
    background-color: #111;
}

#nav li:hover .submenu {
    display: block; /* Show submenu on hover */
}
